<mat-toolbar color="primary">
  <h1>ACME Studio</h1>
  <h2> Learning Center</h2>
  <div class="mat-spacer"></div>
  <!-- App Options -->
  <a mat-button *ngFor="let option of options"
     [routerLink]="option.path">{{ option.title }}</a>
  <mat-divider [vertical]="true" [inset]="true"></mat-divider>
  <a *ngIf="getCurrentUserEmail === null" mat-button [routerLink]="'/sign-in'">Sign-In</a>
  <div *ngIf="getCurrentUserEmail">
    <a mat-button>{{ getCurrentUserEmail() }}</a>
    <a mat-button (click)="signOut()">Sign-Out</a>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
